Practicas/Practica1/Netbeans/WebApplication/nbproject/private/
Practicas/Practica1/Entrega1-2.rar
/Practicas/tutorialedu/ CalculatorWSApplication/nbproject/private/
/Practicas/tutorialedu/CalculatorWS_Client_Application/nbproject/private/
/Practicas/tutorialedu/ CalculatorWSApplication/build/
/Practicas/tutorialedu/CalculatorWS_Client_Application/build/
/Practicas/tutorialedu/CalculatorWSServletClient/nbproject/private/
/Practicas/tutorialedu/CalculatorWSServletClient/build/
/Practicas/tutorialedu/CalculatorWSJSPClient/nbproject/private/
/Practicas/Practica3/Practica3/nbproject/private/
/Practicas/Practica3/nbproject/private/
/Practicas/Practica3.2/nbproject/private/
/Practicas/Practica3.2/build/
/Practicas/Practica3.2/dist/
/Practicas/Practica3.3/nbproject/private/
/Practicas/Practica3.3/build/
/Practicas/Practica3.3_Vuelo_AppJava/nbproject/private/
/Practicas/Practica3.3_Vuelo_AppJava/build/
/Practicas/Practica3.4_WebApp/nbproject/private/
/Practicas/Practica3.4_WebApp/build/
/Practicas/Practica3.4_WebApp/dist/